body {
  background-color: #d8c2ad;
  font-family: "Yu Mincho", serif;
  line-height: 0.8;
}

.header-text {
  position: absolute;
  left: calc(50% - 350px + 40px);
  
  color: white;
  font-size: 36px;
  font-family: "Yu Mincho", serif;
  letter-spacing: 0.1em;

  text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}

.fixed-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f5f1eb;
  z-index: 1000;
  border-bottom: 6px solid #a17c5b;

  display: flex;          /* 追加 */
  flex-direction: column; /* 上から下へ並べる */
}


.fixed-header {
  width: 100%;
  height: 80px;
  background-color: #f5f1eb;
  border-bottom: 6px solid #a17c5b;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative; /* ← fixed をやめる */
}


.main-nav {
  width: 700px;
  margin: 0 auto;
  padding: 10px 0;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.main-nav a {
  padding: 6px 14px;
  background-color: #7a5230;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.fixed-header img {
  width: 700px;
  max-width: 100%;
  height: 80px;        /* ヘッダーと同じ高さ */
  object-fit: cover;   /* ← ここがポイント */
  object-position: center top;
}

.wrapper {
  width: 700px;
  margin: 150px auto 20px;
  background-color: #f5f1eb;
  border: 6px solid #a17c5b;
  padding: 20px;
}


.header {
  text-align: center;
  border: 3px solid #a17c5b;
  padding: 10px;
  margin-bottom: 20px;
}

.header h1 {
  margin: 0;
  font-size: 28px;
}




nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav a {
  background-color: #7a5230;
  color: #fff;
  padding: 5px 12px;
  text-decoration: none;
  font-size: 14px;
}

.section {
  border: 2px solid #b08a67;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.label {
  position: absolute;
  top: -14px;
  left: 10px;
  background-color: #7a5230;
  color: #fff;
  padding: 3px 10px;
  font-size: 14px;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.menu-item img {
  width: 120px;
  height: auto;
  margin-right: 20px;
}

.menu-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 5px;
}

.dots {
  flex: 1;
  margin: 0 8px;
  border-bottom: 1px dotted #b08a67;
}

.price {
  position: absolute;
  font-weight: bold;
  left: 350px; 
}

.address-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map iframe {
  width: 300px;
  height: 150px;
  border: 1px solid #ccc;
}
